@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Open Sans', '../fonts/opensans/opensans/opensans', 400, 'normal');
@include font-face('Open Sans', '../fonts/opensans/opensanslight/opensanslight', 300, 'normal');
@include font-face('Open Sans', '../fonts/opensans/opensanssemibold/opensanssemibold', 600, 'normal');


@font-face {
  font-family: 'Circe';
  src: url('../fonts/other/Circe-Light.woff2') format('woff2'),
      url('../fonts/other/Circe-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/other/Circe-ExtraLight.woff2') format('woff2'),
      url('../fonts/other/Circe-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZangeziSans07';
  src: url('../fonts/other/ZangeziSans07_TRIAL-Regular.woff2') format('woff2'),
      url('../fonts/other/ZangeziSans07_TRIAL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/other/Circe-Bold.woff2') format('woff2'),
      url('../fonts/other/Circe-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/other/Circe-ExtraBold.woff2') format('woff2'),
      url('../fonts/other/Circe-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/other/Circe-Regular.woff2') format('woff2'),
      url('../fonts/other/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

