// Colors
$white: #fff;
$black: #000;
$gold: #e3be9a;
$accent: #932C86;
$red: #E40025;
$green: #008F3B;
$blue: #0070B9;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1140px;

// Fonts
