extends layout/main

block variables
    -var title = 'Помочь фестивалю'

block content
    header.header.header-page
        .container
            nav.header-menu 
                ul.header-menu__list
                    li
                        a(href="#") Программа
                    li
                        a(href="/about.html") О нас
                    li
                        a(href="/helpus.html").is-active Помочь фестивалю
                    li
                        a(href="/partners.html") Спонсоры и партнёры
                .burger
                    .burger-line.burger-line_top
                    .burger-line.burger-line_mid
                    .burger-line.burger-line_bot
            .subhead-page
                .subhead-page__content
                    .subhead-page__content-desc X международный 
                        br
                        | фестивать джазовой музыки
                    a(href="/").subhead-page__content-logo 
                        img(src="/assets/images/common/jazzLogo.svg", alt="logo")
                    .subhead-page__content-info 
                        p Кассы 
                            a(href="tel:483865") 
                                strong 48-38-65
                        p Инфо и билеты 
                            a(href="http://penzakoncert.ru/") 
                                strong penzakoncert.ru
    section.page.helpus
        .container 
            .page-content
                h1.page-title Друзья, мы как обычно, старемся выжать максимум из фестивального бюджета
                article.page-article
                    p Совсем скоро за относительно небольшие деньги мы наполним город отличной музыкой и яркими околомузыкальными событиями. Мы, как это часто бывает, в первую очередь обзаводимся необходимым, но именно приятные мелочи делают праздник праздником. На них-то часто и не хватает. В зале Пензенской областной филармонии вас встретит прекрасная музыка официальной программы фестиваля, а на открытой и бесплатной для всех желающих фестивальной площади — хорошая погода, музыка и фестивальный городок с насыщенной игровой программой.
                    p С 2014 года открытая площадка фестиваля благоустраивается на средства частных благотворителей и спонсоров. В этом году, в пятый раз команда организаторов фестиваля заявляет о запуске официальной краудфандинговой кампании 2018 года. Краудфандинг на Jazz May Penza — экономика, которая помимо простой суммы 1+1+1+1, дарит фестивалю новых друзей, грандиозные идеи, расширяет географию. Открытая площадка не умеет зарабатывать деньги, зато умеет радовать посетителей, обращая в джазовую веру даже случайных прохожих. И вот на все это великолепие: на сцену и звук, уютный газон и уличную мебель, всевозможные активности и функциональные инсталляции нужны средства.
                    p Они необходимы, чтобы превратить фестиваль в настоящий городской праздник. Готовы ли вы в пятый раз поддержать философию музыки города, площадей, друзей, случайных прохожих?

