footer.footer 
    .container 
        .footer-content 
            h2.footer-title Джаз возвращается!
            .footer-info 
                .footer-info__desc X международный фестивать джазовой музыки
                a(href="/").footer-info__logo
                    img(src="/assets/images/common/jazzLogoFooter.svg", alt="logo")
                    +icon('rating')
                .footer-info__list
                    .footer-info__list-item
                        .footer-info__list-title Кассы
                        a.footer-info__list-link(href="tel:483865") 48-38-65
                    .footer-info__list-item
                        .footer-info__list-title Инфо и билеты
                        a.footer-info__list-link(href="https://penzakoncert.ru/") penzakoncert.ru
            nav.footer-menu 
                ul 
                    li
                        a(href="#") Программа
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Помочь фестивалю
                    li
                        a(href="#") Спонсоры и партнёры
            .footer-social 
                a.footer-social__link(href="#") 
                    +icon('insta')
                a.footer-social__link(href="#") 
                    +icon('fb')
                a.footer-social__link(href="#") 
                    +icon('vk')
            .footer-bot 
                .footer-bot__left Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РФ.
                .footer-bot__right © 2021   Все права защищены
.mob-menu
    .mob-menu__content
        ul.mob-menu__list
            li
                a(href="#") Программа
            li
                a(href="/about.html") О нас
            li
                a(href="/helpus.html") Помочь фестивалю
            li
                a(href="/partners.html") Спонсоры и партнёры
        .mob-menu__bot 
            .mob-menu__bot-info
                p Инфо и билеты
                a(href="https://penzakoncert.ru/") penzakoncert.ru
            .mob-menu__bot-cashbox
                p Кассы
                a(href="tel:483865") 48-38-65 